 input{
     text-align: center;
 }
 body {
     background-color: beige;
     text-align: center;
     color: black;
 }
 .column{
     float: left;
 }
 .row{
     content: "";
     display: table;
     clear: both;
 }
